@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.centered {
    width: 650px;
    height: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.centered h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 73.58px;
    letter-spacing: 4.60px;
    font-weight: bold;
    margin: 0 0 -5px 6px;
}

.centered p {
    font-family: 'Nunito', sans-serif;
    font-size: 27.592px;
    letter-spacing: 3.95px;
    font-weight: lighter;
    margin: -4px 0 0 37px;
    display: inline-block;
    vertical-align: text-top;
}

.centered div {
    display: inline-block;
}

.centered img {
    margin: 0 0 0 7px;
    vertical-align: top;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.centered img:hover {
    margin: 0 0 0 2px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
