a {
    color: black;
}

.fullViewHeight {
    height: 100vh;
}

.centered {
    width: 650px;
    height: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: slideInFromLeft 1s;
}

.centered h1 {
    font-size: 80px;
    letter-spacing: 4.60px;
    margin: 0 0 -5px 6px;
    border-bottom: none;
}

.centered p {
    font-size: 27.1px;
    letter-spacing: 3.95px;
    font-weight: lighter;
    margin: -4px 0 0 60px;
    display: inline-block;
    height: 32px;
    vertical-align: top;
}

.icons {
    display: inline-block;
    padding-top: 5px;
}

.icons svg {
    width: 27px;
    height: 27px;
    margin: 0 0 0 7px;
    vertical-align: top;
    transition: transform .8s ease-in-out;
}

.icons svg:hover {
    margin: 0 0 0 2px;
    width: 32px;
    height: 32px;
    color: #00b894;
    transform: rotate(360deg);
}

.arrow {
    position: relative;
    top: 90vh;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    animation: fadeIn 2s, bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-50px); }
    60% { transform: translateY(-25px); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideInFromLeft {
    0% { transform: translateX(-100vw); }
    100% { transform: translateX(0); }
}

@media only screen and (max-width: 700px) {
    .centered {
        width: 340px;
        text-align: center;
    }
    .centered h1 {
        font-size: 38px;
        letter-spacing: 2.36px;
        margin: 0;
    }
    .centered p {
        font-size: 18px;
        letter-spacing: 2.15px;
        margin: 0 0 0 0px;
    }
    .centered div {
        display: block;
        width: 110px;
        margin: 10px auto;
    }
}
