a { 
    color: black; 
}

.centered {
    width: 650px;
    height: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.centered h1 {
    font-size: 80px;
    letter-spacing: 4.60px;
    margin: 0 0 -5px 6px;
    border-bottom: none;
}

.centered p {
    font-size: 27.1px;
    letter-spacing: 3.95px;
    font-weight: lighter;
    margin: -4px 0 0 60px;
    display: inline-block;
    height: 32px;
    vertical-align: top;
}

.icons {
    display: inline-block;
    padding-top: 5px;
}

.icons svg {
    width: 27px;
    height: 27px;
    margin: 0 0 0 7px;
    vertical-align: top;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.icons svg:hover {
    margin: 0 0 0 2px;
    width: 32px;
    height: 32px;
    color: #00b894;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

@media only screen and (max-width: 700px) {
    .centered {
        width: 340px;
        text-align: center;
    }
    .centered h1 {
        font-size: 38px;
        letter-spacing: 2.36px;
        margin: 0;
    }
    .centered p {
        font-size: 18px;
        letter-spacing: 2.15px;
        margin: 0 0 0 0px;
    }
    .centered div {
        display: block;
        width: 110px;
        margin: 10px auto;
    }
}
